.accesoriesPageWrapper {
    padding-top: 95px;
    display: flex;
    justify-content: center;
}

.accesoriesPageTitle {
    color:#505050;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 33px; 
}