/****** STYLE POPULAR CARD ******/


.popularCardConteiner {
    width: 328px;
    height: 417px;
    background-color:white;
    /* border: solid black 0.2px; */
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 0 15px #ddd;
  }
  
  .popularImg {
    width: 90%;
    height: 240px;
    margin-left: 6%;
    margin-top: -20px;
  }
  
  .popularTitleConteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .popularTitle, .popularPrice {
    font-size: 18px;
    margin-bottom: -20px;
    margin-top: -50px;
  
  }
  
  .popularTitle {
    padding-right: 15%;
   
  }
  
  .popularDescription {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 14px;
    color: #767676;
  
    font-weight: 500;
    margin-top: -80px;
  }
  
  /****** PROPOLAR PRODUCT LIST ******/
  
  .popularListHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popularList{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .popularList2{
    display: grid;
    grid-template-columns: 1fr;  
    gap: 30px;
  }
  
  .separatedLine {
    width: 14%;
    background-color: #AB0433;
    height: 2px;
    /* margin-bottom: -10px; */
    margin-top: 20px;
    align-self: center;
  }
  
  
  .popularListTitle{
    color:#505050;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 33px;
  }
  
  .colorsAvailable{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #EAEAEA;
    border-radius: 50px;
    width: 115px;
    height: 22px;
    font-size: 12px;
    margin-left: 23px;
    margin-top: -40px;
    margin-bottom: -10px ;
    color: #505050;
    font-weight: 600;
  
  }
  
  /****** CARROUSEL ******/
  
  .carrouselConteiner {
    width: fixed;
    height: auto;
    padding: 90px;
    gap: 16px;
    background: #ECECEC;
  }
  
  .carrousel{
   width: 1264px;
   height: 417px;
   margin: 40px;
  
  }
  
  .carrouselTitle {
    width: 227px;
    height: 56px;
    /* margin-left: 40%; */
    font-size: 33px;
    color: #505050;
  }

   /****** STORAGE ******/

   .storageList {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .storageList2 {
    display: grid;
    grid-template-columns: 1fr;  
    gap: 30px;
   }

   .storageTitle {
   color:#505050;
   margin-top: 10px;
   margin-bottom: 20px;
   font-size: 33px;
   }

   .StorageHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 1%;
   }


/********************LAPTOP**************************/
  @media (min-width: 1225px) {
    .carrouselConteiner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .popularListHeader {
      position: relative;
    }
    .popularList2 {
      display: none;
      }
    
    .popularListTitle {
      display: none;
      }
    
    .popularConteiner {
        display: none;
      }
      
    .separatedLine {
        width: 6%;
        background-color: #AB0433;
        height: 4px;
        /* margin-bottom: -10px; */
        margin-top: 20px;
        align-self: center;
        position: absolute;
        top: 50px;
      }

    .storageList {
        display: flex;
        flex-direction: row;
        justify-content: center;
       
       }
    
    .storageList2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 90px;
       }
    


      
  }
  
/******* MOBILE ********/
  @media (max-width: 1225px) {
    .carrouselConteiner {
      display: none;
      }
      
    }


