/*****Home****/
.homeContainer {
    overflow-x: hidden;
}

.home-title {
    overflow-x: hidden;
    position:absolute;
    top: 30%;
    left: 10%;
    width: 90%;
}
.home-title > h1 {
    color: white;
    font-size: 5rem;
    margin-bottom: 30px ;
}
.home-title > h1 >span {
    color: rgb(184, 184, 184);
    font-size: 5rem;
}

@media screen and (max-width: 750px) {
    .home-title > h1 {
        font-size: 3rem;
    }

    .home-title > h1 >span{
        font-size: 3rem;
    }
}

@media screen and (max-width: 375px){
    .home-title {
        margin-bottom: 200px;
    }
    .home-title > h1 {
        font-size: 3rem;
    }

    .home-title > h1 >span{
        font-size: 3.5rem;
    }
}