.lessonsPageWrapper {
    padding-top: 8%;
    display: flex;
    justify-content: center;
}

.lessonsPageTitle {
    color:#505050;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 33px; 
}