.lessonContainer {
  width: 100%;
  position: absolute;
  top: 80%;
  /* left: 210px; */
  z-index: 100;
}

.carouselWrapper {
  margin-top: 50px;
}

.cardListContainer {
  margin-top: 150px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1225px)  {
  .lessonContainer {
    top: 85%;
  }
}

@media only screen and (max-width: 760px)  {
  .lessonContainer {
  
    top: 90%;
  }
}