/******* REPAIRS PAGE ******************/
.repairsPageWrapper {
  padding-top: 8%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.title {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: var(--505050, #505050);
  text-align: center;
  color: #505050;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 32px;
}
.redLine {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 20px;  }
.texto {
  display: flex;
  flex-shrink: 0;
  color: #505050;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  
}
.subtexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 24px;
  gap: 32px;
  margin-top: 45px;
}
.formTitle {
  align-self: stretch;
  color: #ab0433;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  gap: 2px;
}
.file {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 8px;
  height: 72px;
}
.label {
  text-align: left;
  align-self: stretch;
  color: #242426;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.inputContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.subContent {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  padding: 8px 16px 8px 16px;
  gap: 16px;
}
.input {
  color: #242426;
  font-style: normal;
  border: none;
  font-weight: 400;
  line-height: 155.55%; /* 155.556% */
  flex: 1 0 0;
}
.line {
  background: #e2e4e5;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}
.contactText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 2px;
}
.contactTitle {
  align-self: stretch;
  color: #ab0433;
  font-style: normal;
  text-align: left;
}
.contactSubtitle {
  align-self: stretch;
  color: #575f6e;
  font-style: normal;
  text-align: left;
}
.subContent1 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  padding: 8px 0px 8px 0px;
  gap: 16px;
}
.icon1 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.inputContact {
  text-align: left;
  color: #242426;
  font-style: normal;
  border: none;
}
.file1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 8px;
}
.file1Title {
  align-self: stretch;
  color: #ab0433;
  font-style: normal;
  text-align: left;
}
.subContent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.inputContent2 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  border: none;
}
.buttonContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: #FF753A;
  color: #fff;
  text-align: center;
  font-style: normal;
  border: none;
}

/******* MOBILE ********/
@media only screen and (min-width: 375px) and (max-width: 759px) {
  .repairsPageWrapper {
    padding-top: 27%;
  }

  .title {
    width: 327px;
    height: 31px;
    gap: 4px;

    font-size: 32px;
    line-height: 130%;
  }
  .redLine {
    margin-top: 17px;
  }
  .texto {
    width: 310px;
    height: 165px;
    font-size: 32px;
  }
  .subtexto {
    width: 296px;
    height: 54px;

    font-size: 16px;
  }
  .form {
    width: 343px;
    height: 834px;
  }
  .formTitle {
    width: 295px;
    height: 28px;

    font-size: 20px;
  }
  .file {
    width: 295px;
  }
  .label {
    width: 295px;
    height: 20px;
    font-size: 14px;
  }
  .inputContent {
    width: 295px;
    height: 44px;
  }
  .subContent {
    width: 295px;
    height: 44px;
  }
  .input {
    width: 263px;
    height: 28px;

    font-size: 18px;
  }
  .line {
    width: 295px;
    height: 1px;
    border: 1px solid #e2e4e5;
  }
  .contact {
    width: 295px;
    height: 194px;
  }
  .contactText {
    width: 295px;
    height: 42px;
  }
  .contactTitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    width: 295px;
    height: 24px;
    letter-spacing: 0em;
  }
  .contactSubtitle {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px; /* 133.333% */
    width: 295px;
    height: 16px;
    letter-spacing: 0em;
  }
  .subContent1 {
    width: 295px;
    height: 44px;
  }
  .inputContact {
    width: 255px;
    height: 28px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    flex: 1 0 0;
  }
  .file1 {
    width: 295px;
    height: 112px;
  }
  .file1Title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px; /* 100% */
    width: 295px;
    height: 60px;
    letter-spacing: 0em;
  }
  .subContent2 {
    width: 295px;
    height: 44px;
  }
  .inputContent2 {
    height: 44px;
    gap: 16px;
    width: 295px;
    padding: 8px 16px 8px 16px;
  }
  .button {
    width: 201px;
    height: 56px;
    flex-shrink: 0;
    top: 1283px;
    left: 87px;

    font-weight: 600;
    line-height: 130%; /* 23.4px */
    gap: 10px;

    padding: 16px 24px;
    border-radius: 32px;
    font-size: 18px;
    margin-bottom: 32px;
  }
}


/******* NOTEBOOK ********/
@media only screen and (min-width: 1225px){
  .title{
    font-size: 33px;
  }
  .texto{
    margin-top: 20px;
    font-size: 26px;
  }
  .subtexto{
    margin-top: 14px;
    font-size: 18px;
  }
  .form{
    width: 400px;
  }
  .formTitle{
    font-size: 30px;
  }
  .label{
    height: 30px;
    font-size: 24px;
  }
  .input{
    font-size: 22px;
  }
  .line{
    width: 350px;
    height: 1.5px;
    border: 1.5px solid #e2e4e5;
  }
  .contactTitle{
    font-size: 26px;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0em;
    height: 32px;
  }
  .contactSubtitle{
    font-size: 18px;
  }
  .inputContact{
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    flex: 1 0 0;
  }
  .file1Title{
    font-size: 21px;
    font-weight: 600;
    line-height: 21px; /* 100% */
    letter-spacing: 0em;
  }
  .inputContent2{
    gap: 16px;
    padding: 8px 16px 8px 16px;
    font-size: 22px;
  }
  .buttonContent{
    margin-top: 32px;
  }
  .button{
    padding: 16px 32px;
    border-radius: 64px;
    font-size: 20px;
    flex-shrink: 0;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
    gap: 10px;
    margin-bottom: 32px;
  }
}